apiVersion: v1
kind: Secret
data:
  aws.access.key: "paste your AWS access key : base64 ENCODED"
  aws.secret.access.key: "paste your AWS secret access key : base64 ENCODED"
metadata:
  labels:
      app: hasura-backup
  name: hasura-backup
  namespace: hasura
type: Opaque
